
<div *ngFor="let line of boardState.grid;let indexLine = index;" >

  <div style="display: flex;">
    <div *ngFor="let row of line;let indexColumn=index"
         style="
                width:100px;
                height:100px;
                border:1px solid black;
               "
          (click)="changeGrid(indexLine,indexColumn)">
               <div *ngIf="boardState.grid[indexLine][indexColumn]">X</div>
               <div *ngIf="boardState.grid[indexLine][indexColumn]===false">0</div>

    </div>
  </div>
</div>

<div (click)="boardState.resetBoardState()">RESET</div>
